streamlit
numpy
opencv-python-headless==4.8.1.78
Pillow
matplotlib
tqdm
scikit-image
numba
stegano
lpips
pip==25.3

# Torch CPU-only
torch==2.0.1+cpu
torchvision==0.15.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

